In [1]:
print('test')

test

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
data = [
    ("Alice", 30, "New York"),
    ("Bob", 28, "San Francisco"),
    ("Charlie", 34, "Los Angeles"),
    ("Diana", 29, "Chicago")
]

columns = ["Name", "Age", "City"]
df = spark.createDataFrame(data, columns)

df.printSchema()
df.show(2) # show first 2 rows
# df.show(truncate=False, vertical=True)

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- City: string (nullable = true)

+-----+---+-------------+
| Name|Age|         City|
+-----+---+-------------+
|Alice| 30|     New York|
|  Bob| 28|San Francisco|
+-----+---+-------------+
only showing top 2 rows

-RECORD 0-------------
 Name | Alice
 Age  | 30
 City | New York
-RECORD 1-------------
 Name | Bob
 Age  | 28
 City | San Francisco
-RECORD 2-------------
 Name | Charlie
 Age  | 34
 City | Los Angeles
-RECORD 3-------------
 Name | Diana
 Age  | 29
 City | Chicago